<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shubham's Portfolio</title>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <!-- Google Font Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playwrite+ES:wght@100..400&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <!-- FontAwesome CDN link for Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- StyleSheet CSS Original -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-black" id="nav-bar">
        <div class="container-fluid div-1">
          <a class="navbar-brand top-name text fs-3" href="#"
            >SHUBHAM <span class="text-dark">RATHOD</span></a
          >
          <button
            class="navbar-toggler bg-white"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse div-2-parent"
            id="navbarNavAltMarkup"
          >
            <div class="navbar-nav div-2">
              <span>
                <a class="nav-link" aria-current="page" href="#nav-bar"
                  >Home</a
                ></span
              >
              <span> <a class="nav-link" href="#container-2">About</a></span>
              <span><a class="nav-link" href="#container-3">Skills</a></span>
              <span> <a class="nav-link" href="#container-4">Projects</a></span>
              <span> <a class="nav-link" href="#">Connect</a></span>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!-- -------------------------Container---1---------------- -->
      <div class="container-1">
        <div class="heading-1">
          <h1>shubham &nbsp;rathod...</h1>
        </div>
        <div class="heading-2">
          <a href="#container-2"> <i class="fa-solid fa-caret-down"></i></a>
        </div>
      </div>
      <!-- -------------------------Container---2---------------- -->
      <div class="container-2" id="container-2">
        <!-- -----------Contaier-2 Block-1 -->
        <div class="cont-2-block1">
          <div class="div-1">
            <h1>A little <span style="color: red">about</span> me</h1>
          </div>
          <div class="div-2">
            <img src="/edited.JPG" alt="image-1" />
          </div>
        </div>

        <div class="cont-2-block2">
          <div class="div-3">
            <p>
              Hi, I’m Shubham Rathod, a passionate MERN Stack Developer. <br />
              I specialize in building responsive, scalable, and user-friendly
              web applications using MongoDB, Express.js, React.js, and Node.js.
              <br />
              With a strong foundation in both frontend and backend development,
              <br />
              I love turning ideas into reality through clean code and modern
              design. <br />
              Currently, I’m exploring DevOps and Cloud (AWS) to make my
              applications even more efficient and deployment-ready. <br />
              My goal is to work on challenging projects that solve real-world
              problems and create meaningful digital experiences.
            </p>
          </div>
          <div class="div-4">
            <img src="/laptop.jpeg" alt="" />
          </div>
        </div>
      </div>
      <!-- -------------------------Container---3---------------- -->
      <div class="conatiner-3" id="container-3">
        <div class="conatiner-3-div-1">
          <h1>
            SKILLS <span> &amp;</span> <br />
            EXPERTISE
          </h1>
        </div>
        <div class="conatiner-3-div-2">
          <div class="container-3-inner">
            <div class="skills">
              <p>- HTML, CSS, JavaScript</p>
            </div>
            <div class="skills"><p>- Bootstrap, Tailwinds</p></div>
            <div class="skills"><p>- ReactJS, ExpressJS, NodeJS</p></div>
            <div class="skills"><p>- MongoDB, MYSQL</p></div>
            <div class="skills"><p>- Git &amp; Github</p></div>
          </div>
        </div>
      </div>
      <!-- -------------------------Container---4---------------- -->
      <div class="container-4" id="container-4">
        <div class="projects">
          <h1>PROJECTS</h1>
        </div>
        <!-- --------------- -->
        <div class="proj-card-parent">
          <h1>FULL<span style="color: white">STACK Projects</span></h1>
          <div
            style="
              display: flex;
              justify-content: space-around;
              align-items: center;
            "
          >
            <div class="proj-card-1 proj"></div>
            <div class="proj-card-2 proj"></div>
          </div>
          <h1>FRONTEND<span style="color: white"> PROJECTS</span></h1>
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-around;
            "
          >
            <div class="proj-card-4 proj">
              AMAZON <br />
              Soon to be Update...
            </div>
            <div class="proj-card-5 proj">
              SPOTIFY <br />
              Soon to be Update...
            </div>
            <div class="proj-card-6 proj">
              PROTFOLIO <br />
              Soon to be Update...
            </div>
          </div>
        </div>
      </div>
      <div class="container-5">
        <div class="cont4-div-1">
          <div class="cont-4-inner-1">
            <h1>CONNECT</h1>
            <h1>WITH<span> ME</span></h1>
            <p>rathodshubham7711@gmail.com</p>
            <div class="laptop">
              <div class="screen">> Connecting to Shubham....</div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Bootstrap Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
